<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp - Registration</title>
</head>
<body>
  <%- include('partials/_header') %>
  <div class="card-header"></div>
  <main style="margin: 1em;">
    <h3>Login with an Existing Account</h3>
  <% if (!userID) { %>
    <form class="form-inline position-absolute-right" action="/login" method="POST">
      <input class="form-control" type="text" name="email" placeholder="E-Mail"
        style="width: 225px; margin-right: 10px;"/>
      
      <input class="form-control" type="text" name="password" placeholder="Password"
      style="width: 225px; margin-right: 10px;"/>
      <button type="submit" class="btn btn-outline-dark">Login</button>
    </form>
    
    <% } else { %>
      <form class="form-inline justify-content-right" action="/logout" method="POST">
        <label for="userID" style="margin-right: 10px;">
          Logged in as: <%= user.email %>
        </label>
        <button type="submit" class="btn btn-outline-dark">Logout</button>
      </form>
      <% } %>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>